# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**:
* List popular languages for Data science
* List popular libraries for Data science 
* Using Headers correctly
* Create tables 
* Evaluating arithmetic expressions

## Author
Valentina Casadei

#### Some of the popular languages that Data Scientists use are:
1. Python 
2. R 
3. SQL
4. Scala
5. Julia 
6. Java 
7. C++

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. NumPy
3. Matplotlib
4. Seaborn 
5. Scikit-learn
6. Keras
7. TensorFlow 
8. Pytorch
9. Apache Spark
10. Vegas
11. big DL
12. ggplot2

| Data Science Tool |
|---|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# this is an arithmetic expression to multiply then add integers 
(3*4)+5

17

In [2]:
# this will convert 200 minutes into hours by dividig it by 60
200/60

3.3333333333333335